<!DOCTYPE html>

<html ng-app="cardViewer">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body ng-controller="listCtrl">
    <h1 class="name">{{ name }}</h1>
    <!-- filter: <input type="text" ng-model="filterValue"/> {{filterValue}} -->

    Name: <input type="text" ng-model="filterObj.name"/> 
    Type: <input type="text" ng-model="filterObj.type"/> {{filterObj}}
    Order: <input type="text" ng-model="orderVal"/>
    <button ng-click="showNewForm=!showNewForm"> Show Form </button>
    <div class="addNew" ng-show="showNewForm" >
      <div>
          Name: <input type="text" ng-model="newPokemon.name"/> </br>
          Type: <input type="text" ng-model="newPokemon.type"/> </br>
          <!-- URL: <input type="text" ng-model="newPokemon.url"/> </br> -->
          Image: <select ng-model="newPokemon.url" ng-options="img.url as img.name for img in images"></select></br>
          HP: <input type="text" ng-model="newPokemon.stats.hp"/> </br>
          ATK: <input type="text" ng-model="newPokemon.stats.atk"/> </br>
          DEF: <input type="text" ng-model="newPokemon.stats.def"/> </br>
          <button ng-click="addNewPokemon(newPokemon)"> Add New Pokemon </button>
      </div>
      <div class="card">
          <div class="name">{{ newPokemon.name }}</div>
          <div class="picture" ng-style="{backgroundImage:'url(' + newPokemon.url + ')'}" ></div>
          <div class="stats">
            <div class="stat">{{newPokemon.stats.hp}}</div>
            <div class="stat">{{newPokemon.stats.atk}}</div>
            <div class="stat">{{newPokemon.stats.def}}</div>
          </div>
      </div>
    </div>
    <div class="cardList">
      <div ng-repeat="card in cards | filter: filterObj | orderBy: orerVal"  class="card" ng-class="{selected:selected}" ng-click="selected=!selected">
          <div class="name">{{ card.name }}</div>
          <div class="picture" ng-style="{backgroundImage:'url(' + card.url + ')'}" ></div>
          <div class="stats">
            <div class="stat">{{card.stats.hp}}</div>
            <div class="stat">{{card.stats.atk}}</div>
            <div class="stat">{{card.stats.def}}</div>
          </div>
        </div>
    </div>
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
  </body>
</html>
